<div class="upper-content">
  <div class="left-content">
    <div class="profile">
      <div class="user-name">
        <%= @user.nickname %>
      </div>
      <div class="user-prifile">
        <%= simple_format(@user.profile) %>
      </div>
    </div>
  </div>
</div>

<div class="best-books-area">
  <div class="best-books-area__top">
    <div class="best-books-area__title"></div>
    <div class="best-book-edit"></div>
  </div>
  <div class="best-book"></div>
  <div class="second-best-book"></div>
  <div class="third-best-book"></div>
</div>

<div class="user-count-area">
  <div class="books-count"></div>
  <div class="books-count__title"></div>
  <div class="notes-count"></div>
  <div class="likes-count"></div>
</div>

<div class="right-content">
  <div class="right-content__title"></div>
</div>

<div class="edit-progress-area">
  <div id="edit-progress-btn"></div>
  <span id="progress-question"></span>
  <div class="progress-explain"></div>
</div>

<div id="action-plan-index">
  <div class="no-action-plan-message"></div>
</div>





<div class="main-content">
  <div class="tabs-area">
    <div class="content-tabs">
      <div class="books-menu-tab active"> 全て</div>
      <div class="books-menu-tab">行動中</div>
      <div class="books-menu-tab">習慣化 </div>
      <div class="books-menu-tab"> 達成</div>
    </div>
  </div>

  <div class="note-area">
    <div class="user-books-area show">
      <%= render partial: 'reviews/user_review', collection: @reviews, as: "review", book: @book %>
    </div>
    <div class="user-books-area">
      <% @reviews = Review.where(user_id: @user.id, completed: 0) %>
      <%= render partial: 'reviews/user_review', collection: @reviews, as: "review", book: @book %>
    </div>
    <div class="user-books-area">
      <% @reviews = Review.where(user_id: @user.id, completed: 1) %>
      <%= render partial: 'reviews/user_review', collection: @reviews, as: "review", book: @book %>
    </div>
    <div class="user-books-area">
      <% @reviews = Review.where(user_id: @user.id, completed: 2) %>
      <%= render partial: 'reviews/user_review', collection: @reviews, as: "review", book: @book %> </div>
  </div>
</div>